@charset "utf-8";

:root {
    --app-border-raidus: 5px;
    --app-grey-bg: #c1c3c5;
    --app-bg-dark: #1a1c24;
}

h2, h3, p, button, li {
    font-family: 'Prompt', sans-serif;
}

.container {
    width: min(100% - 56px, 1200px);
    margin-inline: auto;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--app-grey-bg);
  }

main {
    flex-grow: 1;
}

/*-----------------------------------------------------*/
/* Header                                              */
/*-----------------------------------------------------*/

header {
    height: 56px;
    font-family: 'Bruno Ace SC', cursive;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.flexbox h1 {
    line-height: 56px;
    font-size: 32px;
    font-weight: 600;
    color: #080909;
    cursor: default;
}

.inline {
    display: flex; 
}

button {
    margin-top: 10px;
    display: block;
    height: 34px;
    width: 100px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50px;
    background-color: #8ac3fc;
    color: #000;
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.sort {
    margin: auto;
    position: relative;
    left: 500px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.08);
}

/*-----------------------------------------------------*/
/* Content                                              */
/*-----------------------------------------------------*/

.catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.game {
  text-align: center;
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.game img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.game h2 {
  font-size: 14px;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: default;
}
  
/*-----------------------------------------------------*/
/* Detail                                              */
/*-----------------------------------------------------*/

.play, .banner, .title {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.play {
    background-color: #00a500;
    width: 140px;
}

.banner {
    width: 50%;
    height: 50vh;
}

.title {
    text-align: center;
}

.two {
    justify-content: center;
}

.tags {
    border-radius: 50px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 7px; 
    margin: 10px;
    cursor: default;
}

.fa {
    display: inline-block;
    height: 9px;
    width: 10px;
    margin-right: 5px;
}
/*-----------------------------------------------------*/
/* Footer                                              */
/*-----------------------------------------------------*/

footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    color: #1a2124;
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-size: 28px;
    cursor: default;
    margin-top: 10px;
}


.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}